<nav id="affix-nav" class="sidebar">
    <ul class="nav sidenav" data-spy="affix" data-offset-top="100" data-offset-bottom="100">
        <li class="active"> 
            <a href="#intro">Introduction</a>
        </li>
        
        <li class="active"> 
            <a href="#databases">Databases</a>
            <ul class="nav">
                <li><a href="#databases-intro">Introduction</a></li>
                <li><a href="#databases-setup">Setting up</a></li>
            </ul>
        </li>

        <li>
            <a href="#queries">Queries</a>
            <ul class="nav">
                <li><a href="#queries-intro">Introduction</a></li>
                <li>
                    <a href="#queries-setup">Create a query</a>
                    
                    <a href="#queries-insert">Insert data</a>
                    
                    <ul class="nav">
                        <li>
                            <ul class="nav">
                                <li><a href="#queries-insert-target">Data target</a></li>
                                <li><a href="#queries-insert-name">Name</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                    <a href="#queries-retrieve">Retrieve data</a>
                
                    <ul class="nav">
                        <li>
                            <ul class="nav">
                                <li><a href="#queries-retrieve-source">Data source</a></li>
                                <li><a href="#queries-retrieve-name">Name</a></li>
                                <li><a href="#queries-retrieve-display">Display fields</a></li>
                                <li><a href="#queries-retrieve-rules">Rules</a></li>
                                <li><a href="#queries-retrieve-ordering">Ordering</a></li>
                                <li><a href="#queries-retrieve-limit">Limit</a></li>
                                <li><a href="#queries-retrieve-group">Group</a></li>
                                <li><a href="#queries-retrieve-export">Export</a></li>
                            </ul>
                        </li>
                    </ul>

                    <a href="#queries-update">Update data</a>

                    <ul class="nav">
                        <li>
                            <ul class="nav">
                                <li><a href="#queries-update-target">Data target</a></li>
                                <li><a href="#queries-update-name">Name</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                    <a href="#queries-delete">Delete data</a>
                    
                    <ul class="nav">
                        <li>
                            <ul class="nav">
                                <li><a href="#queries-delete-target">Data target</a></li>
                                <li><a href="#queries-delete-name">Name</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="#projects">Projects</a>
            <ul class="nav">
                <li><a href="#projects-intro">Introduction</a></li>
                <li><a href="#projects-setup">Setting up</a></li>
            </ul>
        </li>

        <li>
            <a href="#api">API</a>
            <ul class="nav">
                <li><a href="#api-intro">Introduction</a></li>
                <li>
                    <a href="#api-error-codes">Error codes</a>
                    <ul class="nav">
                        <li><a href="#api-error-codes-auth">Authentication</a></li>
                        <li><a href="#api-error-codes-queries">Queries</a></li>
                        <li><a href="#api-error-codes-database">Database</a></li> 
                    </ul>
                </li>
            </ul>
        </li>
        
        <li>
            <a href="#libraries">Libraries</a>
            <ul class="nav">
                <li><a href="#libraries-intro">Introduction</a></li>
                <li><a href="#libraries-setup">Setting up</a></li>
            </ul>
        </li>

        <li>
            <a href="#chartsforms">Charts and Forms</a>
            <ul class="nav">
                <li><a href="#chartsforms-intro">Introduction</a></li>
                <li><a href="#chartsforms-setup">Setting up</a></li>
            </ul>
        </li>

        <li>
            <a href="#analytics">Analytics</a>
            <ul class="nav">
                <li><a href="#analytics-intro">Introduction</a></li>
                <li><a href="#analytics-setup">Setting up</a></li>
            </ul>
        </li>
    </ul>
</nav>