<div id="databases" class="row-fluid">
    <legend>Databases</legend>
</div>

<div id="databases-intro" class="row-fluid">
    <h4>Introduction</h4> 
</div>

<div id="databases-setup" class="row-fluid"> 
    <h4>Setup</h4>
</div>