<div id="queries" class="row-fluid">
    <legend>Queries</legend>
</div>

<div id="queries-intro" class="row-fluid">
    <h4>Introduction</h4> 
</div>

<div id="queries-setup" class="row-fluid">
    <h4>Create a query</h4> 
</div>

<div id="queries-insert" class="row-fluid"> 
    <h4>Insert data</h4>
    
    <div id="queries-insert-target">
        <h5>Data target</h5>
    </div>
    
    <div id="queries-insert-name">
        <h5>Name</h5>
    </div>
</div>

<div id="queries-retrieve" class="row-fluid"> 
    <h4>Retrieve data</h4>

    <div id="queries-retrieve-source">
        <h5>Data source</h5>
    </div>

    <div id="queries-retrieve-name">
        <h5>Name</h5>
    </div>
</div>

<div id="queries-update" class="row-fluid"> 
    <h4>Update data</h4>

    <div id="queries-update-target">
        <h5>Data target</h5>
    </div>

    <div id="queries-update-name">
        <h5>Name</h5>
    </div>
</div>

<div id="queries-delete" class="row-fluid"> 
    <h4>Delete data</h4>

    <div id="queries-delete-target">
        <h5>Data target</h5>
    </div>

    <div id="queries-delete-name">
        <h5>Name</h5>
    </div>
</div>