<div id="api" class="row-fluid">
    <legend>API</legend>
</div>

<div id="api-intro" class="row-fluid"> 
    <h4>Introduction</h4>
</div>

<div id="api-error-codes">
    <h4>Error codes</h4>
    
    <div id="api-error-codes-auth">
        <h5>Authentication</h5>
        
        <table class="table table-striped table-responsive">
            <tr>
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Code</th>
                <th class="col-lg-10 col-md-1 col-sm-1 col-xs-1">Error</th>
            </tr>
            
            <tr>
                <td>0</td>
                <td>You need to specify your Public Key</td>
            </tr>
            
            <tr>
                <td>101</td>
                <td>Error while trying to collect the PUBLIC KEY</td>
            </tr>
            
            <tr>
                <td>201</td>
                <td>You are not allowed to access this method</td>
            </tr>
            
            <tr>
                <td>301</td>
                <td>Unauthorized request origin</td>
            </tr>
        </table>
    </div>
    
    
    <div id="api-error-codes-queries">
        <h5>Queries</h5>
        
        <table class="table table-striped table-responsive">
            <tr> 
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Code</th>
                <th class="col-lg-10 col-md-1 col-sm-1 col-xs-1">Error</th>
            </tr>
            
            <tr>
                <td>401</td>
                <td>You need to specify the QUERY ID</td>
            </tr>
            
            <tr>
                <td>501</td>
                <td>The specified query id does not exists. Queries can take a while to be compiled. Please make sure that the query you are trying to access is ready.</td>
            </tr>
            
            <tr>
                <td>601</td>
                <td>Unexpected error while trying to verify if the query exists</td>
            </tr>
            
            <tr>
                <td>701</td>
                <td>Unexpected error while trying to fetch the data of the query</td>
            </tr>
            
            <tr>
                <td>801</td>
                <td>You are not allowed to execute this query. Your IP has been saved and will be sent to the owner of the query for review.</td>
            </tr>
            
            <tr>
                <td>901</td>
                <td>You have used all the free request of your plan for this month. Add a payment method to your account to continue.</td>
            </tr>
        </table>
    </div>
    
    <div id="api-error-codes-database">
        <h5>Database</h5>
        
        <table class="table table-striped table-responsive">
            <tr> 
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Code</th>
                <th class="col-lg-10 col-md-1 col-sm-1 col-xs-1">Error</th>
            </tr>
            
            <tr>
                <td>1001</td>
                <td>An error occured while trying to connect to the database (your database)</td>
            </tr>
            
            <tr>
                <td>1002</td>
                <td>An error occured while connecting to the database</td>
            </tr>
            
            <tr>
                <td>1003</td>
                <td>You need to provide your database credentials</td>
            </tr>
            
            <tr>
                <td>2001</td>
                <td>An error occured while trying to connect to the database (your database)</td>
            </tr>
        </table>
    </div>
</div>